<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'myfirstapp/css/style.css' %}" type="text/css">
    <title>index</title>
</head>
<body>
    <div class="container">
    <nav>
     <ul>
         <li class="currentli"><a href="http://127.0.0.1:8000">Index</a></li>
         <li><a href="http://127.0.0.1:8000/myfirstapp">Pokedex</a></li>
         <li><a href="http://127.0.0.1:8000/admin/">Admin</a></li>
     </ul>
    </nav>
        Go to the Pokedex in the nav
    </div>
</body>
</html>